# Java
*.class
*.jar
*.war
*.ear
target/
.mvn/
mvnw
mvnw.cmd

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/

# IDE
.vscode/
.idea/
*.iml
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
*.log
.env