version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: jobportal-db
    environment:
      POSTGRES_DB: jobportal
      POSTGRES_USER: jobuser
      POSTGRES_PASSWORD: jobpass
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: jobportal-backend
    depends_on:
      - postgres
    ports:
      - "8080:8080"

  frontend:
    build: 
      context: ./frontend
      args:
        VITE_API_URL: http://localhost:8080/api
    container_name: jobportal-frontend
    depends_on:
      - backend
    ports:
      - "5173:80"

volumes:
  pgdata:
